.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}
.icon-man1{
	background:url('icons/man.png') no-repeat center center;
}
.icon-next{
	background:url('icons/next.png') no-repeat center center;
}
.icon-preview{
	background:url('icons/preview.png') no-repeat center center;
}
.icon-todo
{
    background:url('icons/todo.gif') no-repeat center center;
}
.icon-remind
{
   background:url('icons/clock_edit.png') no-repeat center center;
}
.icon-gg
{
    background:url('icons/gg.png') no-repeat center center;
}
.icon-calendar
{
    background:url('icons/calendar.png') no-repeat center center;
}
.icon-link
{
    background:url('icons/link.png') no-repeat center center;
}
.icon-job
{
    background:url('icons/job.png') no-repeat center center;
}
.icon-linkbtn
{
    background:url('icons/linkbtn.png') no-repeat center center;
}
.icon-chart
{
    background:url('icons/chart.gif') no-repeat center center;
}
.icon-home
{
    background:url('icons/home.gif') no-repeat center center;
}
.icon-customer
{
    background:url('icons/pencil.png') no-repeat center center;
}
.icon-export
{
    background:url('icons/excel.png') no-repeat center center;
}
.icon-submit
{
    background:url('icons/submit.png') no-repeat center center;
}
.icon-submitcancel
{
    background:url('icons/submitcancel.png') no-repeat center center;
}
.icon-default
{
    background:url('icons/tool.png') no-repeat center center;
}
.icon-refresh
{
    background:url('icons/refresh.png') no-repeat center center;
}
.icon-associate
{
    background:url('icons/associate.png') no-repeat center center;
}
.icon-copy
{
    background:url('icons/copy.png') no-repeat center center;
}
.icon-word
{
    background:url('icons/word.png') no-repeat center center;
}
.icon-book
{
    background:url('icons/book.gif') no-repeat center center;
}
.icon-list
{
    background:url('icons/list.png') no-repeat center center;
}
.icon-all
{
    background:url('icons/all.png') no-repeat center center;
}
.icon-group
{
    background:url('icons/group.png') no-repeat center center;
}
.icon-original
{
    background:url('icons/original.png') no-repeat center center;
}
.icon-now
{
    background:url('icons/now.png') no-repeat center center;
}
.icon-address
{
    background:url('icons/address.png') no-repeat center center;
}
.icon-businessCard
{
    background:url('icons/businessCard.png') no-repeat center center;
}
.icon-logout
{
    background:url('icons/logout.gif') no-repeat center center;
}
.icon-zoomin
{
    background:url('icons/zoomin.png') no-repeat center center;
}
.icon-stop
{
    background:url('icons/stop.png') no-repeat center center;
}
.icon-forbidden
{
    background:url('icons/forbidden.png') no-repeat center center;
}
.icon-checkcancel
{
    background:url('icons/checkcancel.png') no-repeat center center;
}
.icon-config
{
    background:url('icons/config.png') no-repeat center center;
}
.icon-system
{
    background:url('icons/system.png') no-repeat center center;
}
.icon-purchase
{
    background:url('icons/purchase.png') no-repeat center center;
}
.icon-sale
{
    background:url('icons/sale.png') no-repeat center center;
}
.icon-stock
{
    background:url('icons/stock.png') no-repeat center center;
}
.icon-document
{
    background:url('icons/document.png') no-repeat center center;
}
.icon-finance
{
    background:url('icons/finance.png') no-repeat center center;
}
.icon-finishWork
{
    background:url('icons/finishWork.png') no-repeat center center;
}

.icon-barcode
{
    background:url('icons/barcode.png') no-repeat center center;
}
.icon-form
{
    background:url('icons/form.png') no-repeat center center;
}
.icon-warehouse
{
    background:url('icons/warehouse.png') no-repeat center center;
}
.icon-order
{
    background:url('icons/saleOrder.png') no-repeat center center;
}
.icon-basedata
{
    background:url('icons/basedata.png') no-repeat center center;
}
.icon-import {
    background: url('icons/import.png') no-repeat center center;
}

.icon-reset {
    background: url('icons/reset.png') no-repeat center center;
}

.icon-copy {
    background: url('icons/copy.png') no-repeat center center;
}

.icon-dire {
    background: url('icons/directory.png') no-repeat center center;
}

.icon-signout {
    background: url('icons/signout.png') no-repeat center center;
}

.icon-exit {
    background: url('icons/exit.png') no-repeat center center;
}

.icon-user {
    background: url('icons/user.png') no-repeat center center;
}

.icon-link {
    background: url('icons/link.png') no-repeat center center;
}

.icon-upload {
    background: url('icons/upload.png') no-repeat center center;
}

.icon-begin {
    background: url('icons/begin.png') no-repeat center center;
}

.icon-pause {
    background: url('icons/pause.png') no-repeat center center;
}

.icon-excel {
    background: url('icons/excel.png') no-repeat center center;
}

.icon-up {
    background: url('icons/up.png') no-repeat center center;
}

.icon-down {
    background: url('icons/down.png') no-repeat center center;
}

.icon-write {
    background: url('icons/write.png') no-repeat center center;
}

.icon-submit {
    background: url('icons/submit.png') no-repeat center center;
}

.icon-submitcancel {
    background: url('icons/submitcancel.png') no-repeat center center;
}

.icon-relation {
    background: url('icons/relation.png') no-repeat center center;
}

.icon-menugroup {
    background: url('icons/menu.png') no-repeat center center;
}

.icon-html {
    background: url('icons/html.png') no-repeat center center;
}

.icon-todo {
    background: url('icons/todo.png') no-repeat center center;
}

.icon-notice {
    background: url('icons/notice.png') no-repeat center center;
}

.icon-analytics {
    background: url('icons/analytics.png') no-repeat center center;
}

.icon-shortcut {
    background: url('icons/shortcut.png') no-repeat center center;
}

.icon-download {
    background: url('icons/download.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}

.icon-add-big{
	background:url('icons/add-big.png') no-repeat center center;
}
.icon-edit-big{
	background:url('icons/edit-big.png') no-repeat center center;
}
.icon-remove-big{
	background:url('icons/delete-big.png') no-repeat center center;
}
.icon-copy-big{
	background:url('icons/copy-big.png') no-repeat center center;
}
.icon-submit-big{
	background:url('icons/submit-big.png') no-repeat center center;
}
.icon-submitcancel-big{
	background:url('icons/submitcancel-big.png') no-repeat center center;
}
.icon-default-big
{
    background:url('icons/tool-big.png') no-repeat center center;
}
.icon-refresh-big{
	background:url('icons/refresh-big.png') no-repeat center center;
}
.icon-print-big{
	background:url('icons/print-big.png') no-repeat center center;
}
.icon-export-big{
	background:url('icons/export-big.png') no-repeat center center;
}
.icon-exit-big{
	background:url('icons/exit-big.png') no-repeat center center;
}

