<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        body
        {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <link href="/Base/JS/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/Base/JS/easyui/themes/icon.css" rel="stylesheet" type="text/css" />
    <script src="/Base/JS/easyui/jquery.min.js" type="text/javascript"></script>
    <script src="/Base/JS/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="/Base/JS/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="/Base/JS/json2.js" type="text/javascript"></script>
    <script src="/Base/JS/datagridExtend.js?<%= Guid.NewGuid() %>" type="text/javascript"></script>
    <script src="/Base/JS/DataInterface.js?<%= Guid.NewGuid() %>" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var iformid = getQueryString("iformid");
        $(function () {
            var show = getQueryString("show");

            if (show == "main") {
                $("#tdChild").hide();
                $("#tdLookUp").hide();
                $("#tdForm").hide();
                bindMainField();
            }
            else if (show == "child") {
                $("#tdMain").hide();
                $("#tdLookUp").hide();
                $("#tdForm").hide();
                bindChildField();

            }
            else if (show == "both") {
                $("#tdLookUp").hide();
                $("#tdForm").hide();
                bindMainField();
                bindChildField();
            }
            else if (show == "lookUp") {
                $("#tdMain").hide();
                $("#tdChild").hide();
                $("#tdForm").hide();
                bindLookUpField();
            }
            else if (show == "Form") {
                $("#tdMain").hide();
                $("#tdChild").hide();
                $("#tdLookUp").hide();
                bindFormField();
            }
        })
        function bindMainField() {
            document.getElementById("tdMain").style.height = getQueryString("height") + "px";
            var result = callpostback("/Base/Handler/childTableConfigHandler.ashx", "iformid=" + iformid + "&otype=getFormField", false, true);
            if (result.indexOf("error:") > -1) {
                alert(result.substr(6, result.length - 6));
            }
            else {
                try {
                    var jsonObj = eval("(" + result + ")");
                    //mainFieldData = jsonObj;
                    $("#tableMain").datagrid({
                        //width: 250,
                        //fit: true,
                        columns: [[
                                { field: "field", title: "字段名", width: 140, sortable: true }
                            ]],
                        title: "主表字段",
                        singleSelect: true,
                        data: jsonObj,
                        onDblClickRow: function (index, row) {
                            if (window.parent.focusText) {
                                var show = getQueryString("show");
                                if (show != "both") {
                                    window.parent.insertAtCursor(window.parent.focusText, "#" + row.field + "#");
                                }
                                else {
                                    window.parent.insertAtCursor(window.parent.focusText, "#m." + row.field + "#");
                                }
                            }
                        }
                    });
                }
                catch (e) {
                    alert(resultText);
                }
            }


        }
        function bindChildField() {
            document.getElementById("tdChild").style.height = getQueryString("height") + "px";
            var iRecNo = getQueryString("iChildRecNo");
            var sqlObj =
                {
                    TableName: "bscChildTablesDColumns",
                    Fields: "sFieldName",
                    SelectAll: "True",
                    Filters:
                    [
                        {
                            Field: "iMainRecNo",
                            ComOprt: "=",
                            Value: iRecNo
                        }
                    ],
                    Sorts:
                    [
                        {
                            SortName: "iSerial",
                            SortOrder: "asc"
                        }
                    ]
                };
            var fieldsData = SqlGetData(sqlObj);
            $("#tableChild").datagrid({
                //width: 250,
                //fit: true,
                columns: [[
                                { field: "sFieldName", title: "字段名", width: 140, sortable: true }
                         ]],
                title: "子表字段",
                singleSelect: true,
                data: fieldsData,
                onDblClickRow: function (index, row) {
                    if (window.parent.focusText) {
                        window.parent.insertAtCursor(window.parent.focusText, "#" + row.sFieldName + "#");
                    }
                }
            });
        }
        function bindLookUpField() {
            document.getElementById("tdLookUp").style.height = getQueryString("height") + "px";
            var lookUpName = getQueryString("lookUpName");
            var data = getLookUpField(lookUpName);
            $("#tableLookUp").datagrid({
                //fit: true,
                //width: 250,
                columns: [[
                                { field: "field", title: "字段名", width: 140, sortable: true }
                            ]],
                title: "全部字段",
                singleSelect: true,
                data: data,
                onDblClickRow: function (index, row) {
                    if (window.parent.focusText) {
                        window.parent.insertAtCursor(window.parent.focusText, "#" + row.field + "#");
                    }
                }
            });
        }
        function bindFormField() {
            document.getElementById("tdForm").style.height = getQueryString("height") + "px";
            var iformid = getQueryString("iformid");
            var data = getFormIDField(iformid);
            $("#tableForm").datagrid({
                //width: 250,
                //fit: true,
                columns: [[
                                { field: "field", title: "字段名", width: 140, sortable: true }
                            ]],
                title: "全部字段",
                singleSelect: true,
                data: data,
                onDblClickRow: function (index, row) {
                    if (window.parent.focusText) {
                        window.parent.insertAtCursor(window.parent.focusText, "#" + row.field + "#");
                    }
                }
            });
        }

        //获取lookUp的字段
        function getLookUpField(lookUpName) {
            var result = callpostback("/Base/Handler/childTableConfigHandler.ashx", "otype=getLookUpField&lookUpName=" + lookUpName, false, true);
            if (result.indexOf("error:") > -1) {
                alert(result.substr(6, result.length - 6));
                return [];
            }
            else {
                var data = eval("(" + result + ")");
                return data;
            }
        }

        //获取FormID字段
        function getFormIDField(iformid) {
            var result = callpostback("/Base/Handler/childTableConfigHandler.ashx", "iformid=" + iformid + "&otype=getFormField", false, true);
            if (result.indexOf("error:") > -1) {
                alert(result.substr(6, result.length - 6));
                return [];
            }
            else {
                var mainFields = eval("(" + result + ")");
                return mainFields;
            }
        }
    </script>
</head>
<body>
    <table style="border-collapse: collapse; padding: 0px; margin: 0px;">
        <tr>
            <td id="tdMain" style="margin: 0px; padding: 0px; vertical-align: top;">
                <table id="tableMain" width="150px">
                </table>
            </td>
            <td id="tdChild" style="margin: 0px; padding: 0px; vertical-align: top;">
                <table id="tableChild" width="150px">
                </table>
            </td>
            <td id="tdLookUp" style="margin: 0px; padding: 0px; vertical-align: top;">
                <table id="tableLookUp" width="150px">
                </table>
            </td>
            <td id="tdForm" style="margin: 0px; padding: 0px; vertical-align: top;">
                <table id="tableForm" width="150px">
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
