.a1
{
    background:url('1.gif') no-repeat center center;
}
.a2
{
    background:url('2.gif') no-repeat center center;
}
.a3
{
    background:url('3.gif') no-repeat center center;
}
.a4
{
    background:url('4.gif') no-repeat center center;
}
.a5
{
    background:url('5.gif') no-repeat center center;
}
.a6
{
    background:url('6.gif') no-repeat center center;
}
.a7
{
    background:url('7.gif') no-repeat center center;
}
.a8
{
    background:url('8.gif') no-repeat center center;
}
.a9
{
    background:url('9.gif') no-repeat center center;
}
.a10
{
    background:url('10.gif') no-repeat center center;
}
.a11
{
    background:url('11.gif') no-repeat center center;
}
.a12
{
    background:url('12.gif') no-repeat center center;
}
.a13
{
    background:url('13.gif') no-repeat center center;
}
.a14
{
    background:url('14.gif') no-repeat center center;
}
.a15
{
    background:url('15.gif') no-repeat center center;
}
.a16
{
    background:url('16.gif') no-repeat center center;
}
.a17
{
    background:url('17.gif') no-repeat center center;
}
.a18
{
    background:url('18.gif') no-repeat center center;
}
.a19
{
    background:url('19.gif') no-repeat center center;
}